<div class="contact_full">
    <img src="http://www.gravatar.com/avatar/{{gravatar}}?d=monsterid&s=250"/>
    <br/><br/>
    <strong>Name:</strong> {{name.first}} {{name.last}}<br/>
    <strong>Email:</strong> {{email}}<br/>
    <strong>Phone:</strong> {{phone}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Contact</a>
